{% set kibana = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [
            'apache2-utils'
        ]
    },
    'RedHat': {
        'pkgs': [
            'httpd-tools'
        ]
    },
    'Arch': {
        'pkgs': [
        ]
    }
}, merge=salt['pillar.get']('kibana:lookup')) %}
